<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data List</title>
</head>
<body>
    <h1>Data List</h1>
    <ul>
        <% if (Array.isArray(data)) { %>
            <% data.forEach(item => { %>
                <li><%= item.givenName %> - <%= item.gender %></li>
            <% }); %>
        <% } else { %>
            <li>Error: Data is not an array</li>
        <% } %>
    </ul>
    <script type="module"></script>
</body>
</html>
